Package: com.muirey03.smallsiri
Name: SmallSiri
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Make siri smaller and unobtrusive!
Maintainer: Muirey03
Author: Muirey03
Section: Tweaks
